<div class="home-container">
  <div class="wave"></div>

  <!-- Caixa de busca -->
  <div class="search-box">
    <app-pokemon-search 
      (pokemonSearched)="onPokemonSearched($event)"
    />
  </div>

  <!-- Informações do Pokémon selecionado -->
   <div class="pokemon-details">
     <app-pokemon-details 
     *ngIf="pokemonData" 
     [pokemonData]="pokemonData"/>
   </div>

  <!-- Mensagem para nenhuma busca realizada -->
  <div *ngIf="!pokemonData" class="no-search">
    <img src="/assets/no-search-icon.png" alt="No search" style="width: 130px; height: 110px;">
    <p>Você ainda não realizou nenhuma busca!</p>
  </div>
</div>